---
import { projects } from "../../../data/projects";
import ProjectCard from "./ProjectCard/ProjectCard.astro";

let isSmaller = false;
---

<section
  class="mb-12 flex flex-col gap-12 md:grid md:grid-cols-2 lg:grid-cols-5"
>
  {
    projects.map(({ contribution, title, img }, idx) => {
      if ((idx + 1) % 2 === 0) {
        isSmaller = !isSmaller;
      }

      return (
        <ProjectCard
          contribution={contribution}
          title={title}
          img={img}
          isSmaller={isSmaller}
        />
      );
    })
  }
</section>

<script>
  const projects = Array.from(document.querySelectorAll("article"));

  projects.forEach((el) => {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("active");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 0.5,
      }
    );

    observer.observe(el);
  });
</script>
