---
import ProjectCardWithGui from "./ProjectCardWithGui.astro";
import ProjectCard from "./ProjecCard.astro";
import { projects } from "../../../data/projects";
---

<section class="mb-12 flex flex-wrap gap-10 md:flex-nowrap">
  {
    projects
      .filter(({ img }) => img)
      .sort((a) => (a.link ? -1 : 1))
      .map((project) => <ProjectCardWithGui {...project} />)
  }
</section>
<section class="flex flex-col gap-12">
  {
    projects
      .filter(({ img }) => !img)
      .sort((a) => (a.link ? -1 : 1))
      .map((project) => <ProjectCard {...project} />)
  }
</section>

<script>
  const projects = Array.from(document.querySelectorAll("article"));

  projects.forEach((el) => {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("active");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 0.5,
      }
    );

    observer.observe(el);
  });
</script>
