---
import { projects } from "../../../data/projects";
import ProjectCard from "./ProjecCard.astro";
---

<section class="flex flex-col gap-10">
  {projects.map((project) => <ProjectCard {...project} />)}
</section>

<script>
  const projects = Array.from(document.querySelectorAll("article"));

  projects.forEach((el) => {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("active");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 0.5,
      }
    );

    observer.observe(el);
  });
</script>
