---
import type { Project } from "../../../data/projects";

interface Props extends Project {}

const { title, stack, description, img } = Astro.props;
---

<article class="md:basis-1/2">
  <img class="mb-4 w-full aspect-[4/3] object-cover" src={img} />
  <h3 class="mb-1 font-bold">{title}</h3>
  <p class="mb-4 text-rose-100/70 text-sm leading-relaxed">{description}</p>
  <ul class="flex items-center gap-2 overflow-y-auto">
    {
      stack.map((name) => (
        <li class="text-rose-100/50 text-xs lowercase italic flex items-center gap-2 after:content-['•'] after:text-rose-100/30 last:after:content-none">
          {name}
        </li>
      ))
    }
  </ul>
</article>

<style>
  article {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 550ms, opacity 750ms;
  }

  article.active {
    transform: translateY(0);
    opacity: 1;
  }
</style>
