---
import { Tech } from "../../data/techs";

export interface Props {
  title: string;
  description: string;
  stack: Tech[];
}

const { description, stack, title } = Astro.props;
---

<div class="p-4 absolute inset-0">
  <h4
    class="mb-2 text-2xl font-bold text-rose-100/90 line-clamp-1 md:-translate-y-20 md:group-hover:translate-y-0 md:transition duration-500"
  >
    {title}
  </h4>
  <p
    class="hidden mb-4 text-md text-rose-100/70 md:line-clamp-3 lg:line-clamp-none"
  >
    {description}
  </p>
  <div class="hidden md:flex gap-2 justify-start md:flex-wrap">
    {
      stack.map(({ name, icon: Icon, bg, bd, fg }) => (
        <div
          data-tech
          class={`py-1 px-2 text-xs font-bold border rounded-md flex shrink-0 items-center gap-2
              ${bg ?? "bg-gray-200/20"}
              ${fg ?? "text-gray-200"}
              ${bd ?? "border-gray-200/40"}`}
        >
          <Icon />
          <span>{name}</span>
        </div>
      ))
    }
  </div>
</div>
