---
export interface Props {
  img: string;
  title: string;
}

const { img, title } = Astro.props;
---

<div
  class="w-full aspect-square overflow-hidden transition group-hover:blur-md"
>
  {
    img ? (
      <img
        src={img}
        class="aspect-square object-cover"
        alt={`${title} project`}
      />
    ) : (
      <div class="h-full grid place-content-center">
        <p class="text-4xl font-bold">WIP</p>
      </div>
    )
  }
</div>
