---
import type { Project } from '../../data/projects';

interface Props extends Pick<Project, "title" | "img"> {}

const { title, img } = Astro.props;
---

<div
  class="aspect-[4_/_3] border border-white/10 rounded-3xl relative overflow-hidden md:aspect-square lg:h-96 lg:aspect-auto [&>*]:rounded-3xl"
>
  {
    img ? (
      <img
        src={img}
        class="w-full h-full object-cover transition ease-in group-hover:scale-[1.02]"
        alt={`${title} project`}
      />
    ) : (
      <div class="w-full h-full bg-stone-800 grid place-content-center">
        <p class="text-4xl font-bold tracking-widest">WIP</p>
      </div>
    )
  }
</div>
