---
import type { Project } from "../../../data/projects";

interface Props extends Pick<Project, "title" | "description"> {}

const { title, description } = Astro.props;
---

<div>
  <h3 class="text-rose-100/90 text-2xl font-bold line-clamp-1">
    {title}
  </h3>
  <p class="text-rose-100/70 lowercase leading-loose line-clamp-2">{description}</p>
</div>
