---
import type { Project } from "../../../data/projects";

interface Props extends Pick<Project, "title" | "img"> {}

const { title, img } = Astro.props;
---

<div
  class="aspect-square rounded-3xl relative lg:h-96 lg:aspect-auto [&>*]:rounded-3xl"
>
  <div
    class="bg-gradient-to-b from-white/[0.15] to-white/5 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10"
  >
  </div>
  {
    img ? (
      <img
        src={img}
        class="w-full h-full object-cover"
        alt={`${title} project`}
      />
    ) : (
      <div class="w-full h-full bg-stone-800 grid place-content-center">
        <p class="text-4xl font-bold tracking-widest">WIP</p>
      </div>
    )
  }
</div>

<style>
  div > div {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
</style>
