---
import Cube from "../../../components/icons/Cube.astro";
import Link from "../../../components/Link.astro";
import ProjectList from "../components/ProjectList.astro";
---

<section id="real-world-projects">
  <h2 class="text-2xl font-bold">
    <a href="#real-world-projects" class="flex gap-4">
      <Cube />
      Real-world projects
    </a>
  </h2>
  <p class="mb-8 ml-9 text-xl text-rose-100/70">
    <Link href="https://github.com/jrafaaael?tab=repositories" target="_blank"
      >Let's see more projects!</Link
    >
  </p>
  <ProjectList />
</section>
