---
import Layout from "../layouts/Layout.astro";
import Me from "../components/Me.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="jrafaaael | home">
  <main class="max-w-7xl m-auto mt-28 p-8 md:mt-56">
    <Me />
    <Projects />
  </main>
</Layout>
