---
import Layout from "../layouts/Layout.astro";
import Me from "../features/home/sections/Me.astro";
import Projects from "../features/home/sections/Projects.astro";
---

<Layout title="jrafaaael | home">
  <main class="max-w-6xl m-auto mt-28 p-6 md:mt-56">
    <Me />
    <Projects />
  </main>
</Layout>
