---
import Layout from "../layouts/Layout.astro";
import Me from "../components/Me.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="jrafaaael | home">
  <main class="max-w-6xl m-auto mt-28 py-8 px-4 md:mt-56 lg:px-8">
    <Me />
    <Projects />
  </main>
</Layout>
