---
import Link from "./Link.astro";
import { links } from "../data/social-links";

const currentYear = new Date().getFullYear();
---

<footer
  class="max-w-6xl m-auto p-6 pb-12 flex flex-col justify-between items-center gap-6 md:flex-row"
>
  <p class="text-rose-100/70 text-sm order-2 md:-order-1">
    © {currentYear},
    <Link href="https://github.com/jrafaaael/" target="_blank">jrafaaael</Link>
  </p>
  <ul class="flex gap-6">
    {
      links.map(({ icon: Icon, link }) => (
        <li>
          <Link
            target="_blank"
            className="text-sm flex gap-2 [&>svg]:w-4 [&>svg]:h-4"
            href={link}
          >
            <Icon />
          </Link>
        </li>
      ))
    }
  </ul>
</footer>
