---
import Link from "./Link.astro";
---

<footer class="max-w-5xl m-auto p-8">
  <p class="text-rose-100/70 text-sm text-center">
    developed by <Link href="https://github.com/jrafaaael/">@jrafaaael</Link>
  </p>
</footer>
