---
import Link from "./Link.astro";

const currentYear = new Date().getFullYear();
---

<footer class="max-w-6xl m-auto p-6 pb-12">
  <p class="text-rose-100/70 text-sm order-2 md:-order-1">
    © {currentYear},
    <Link href="https://github.com/jrafaaael/" target="_blank">jrafaaael</Link>
  </p>
</footer>
