---
import Link from "./Link.astro";
---

<section class="mb-32">
  <p class="mb-2 text-2xl text-rose-100/70">Hi there! I'm</p>
  <h2 class="mb-6 text-5xl font-extrabold md:text-6xl">@jrafaaael</h2>
  <p class="text-xl text-rose-100/70 leading-relaxed md:max-w-[75%] lg:max-w-[50%]">
    <abbr title="Instrumentation and Control">I&amp;C</abbr> Engineer and Software
    Developer able to work with high-demand <Link href="#"
      >programming languages</Link
    > and modern <Link href="#">frameworks and libraries</Link>
  </p>
</section>
