<section class="max-w-4xl mb-32 m-auto">
  <h2 class="mb-2 text-5xl font-mono font-extrabold">@jrafaaael</h2>
  <p class="text-xl mb-8">
    software developer and <abbr title="Instrumentation and Control"
      >I&amp;C</abbr
    > engineer.
  </p>
</section>
