---
import ProjectCard from "./ProjectCard/ProjectCard.astro";
import Link from "./Link.astro";
import Cube from "./icons/Cube.astro";
import { projects } from "../data/projects";
---

<section class="grid gap-4 md:grid-cols-2 md:gap-8">
  <article>
    <h3 class="mb-2 text-3xl font-bold">
      <a href="#projects" class="flex gap-4 items-center">
        <span><Cube /></span>
        <span>Featured projects</span>
      </a>
    </h3>
    <p class="ml-10 text-xl text-rose-100/70">
      You can see more
      <Link href="#">here</Link>
    </p>
  </article>
  {projects.map((project, idx) => <ProjectCard {...project} idx={idx} />)}
</section>
