---
import type { Project } from "../../data/projects";

interface Props extends Pick<Project, "title" | "contribution"> {}

const { title, contribution } = Astro.props;
---

<div>
  <h3 class="mb-1 text-rose-100/90 text-2xl font-bold line-clamp-1">
    {title}
  </h3>
  <ul class="flex items-center gap-2 overflow-y-auto">
    {
      contribution.map((work) => (
        <li class="text-rose-100/50 text-sm lowercase flex items-center gap-2 after:content-['•'] after:text-rose-100/30 last:after:content-none">
          {work}
        </li>
      ))
    }
  </ul>
</div>
