---
interface Props {
  title: string;
  list: string[];
}

const { list, title } = Astro.props;
const formatter = new Intl.ListFormat("en");
---

<article class="basis-1/2">
  <h2 class="mb-1 text-xs font-bold uppercase">{title}</h2>
  <p class="text-rose-100/70 lowercase">
    {formatter.format(list)}
  </p>
</article>
