---
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="preload"
      href="/fonts/Epilogue.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-stone-900 text-rose-100/90 tracking-wider antialiased [&_*]:outline-none focus-visible:[&_*]:ring-2 focus-visible:[&_*]:ring-rose-400"
  >
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Epilogue";
    src: url("/fonts/Epilogue.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  svg {
    width: 20px;
    aspect-ratio: 1;
    display: inline-block;
    vertical-align: baseline;
  }
</style>
